@model List<Comment>
@{
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
}
   
<ul>
@foreach (var comment in Model)
{
    <li>@comment.CoolBooksUser.Name - @comment.Text - <a asp-controller="Comments" asp-action="Create" asp-route-id="@comment.Id" asp-route-returnUrl="@routeUrl">svara</a></li>
    @if (comment.comments.Any())
    {
        <partial name="_comment" model="comment.comments" />       
    }
}
 </ul>
