<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoolBooks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoolBooks.styles.css" asp-append-version="true" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    @*Script taggarna i head inte footer löste vårat problem! *@
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*includeras via en partial atm. Får inte årdning på koden när skriver om den*@
    @*<script src="~/js/likeandreport.js"></script>*@
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent">Meny</button>
                <div  class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-end">
                    <div>

                         <div>
                                
                                @if (signInManager.IsSignedIn(User))
                                {

                    

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <ul class="navbar-nav flex-grow-1">
                                            <li class ="nav-item">
                                            <a class="nav-link text-danger" asp-area="" asp-controller="Administration" asp-action="Statistik">Statistik</a>
                                            <li/>

                                            </li>
                                            <li class="nav-item">
                                            <a class="nav-link text-danger" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roller</a>
                                            </li>
                                            <li class="nav-item">
                                            <a class="nav-link text-danger" asp-area="" asp-controller="Books" asp-action="Create">Lägg till Bok</a>
                                            </li>
                                            <li class="nav-item">
                                            <a class="nav-link text-danger" asp-area="" asp-controller="Genres" asp-action="Create">Lägg till Genre</a>
                                            </li>
                                            <li class="nav-item">
                                            <a class="nav-link text-danger" asp-area="" asp-controller="Authors" asp-action="Create">Lägg till Författare</a>
                                            </li>
                                        </ul>
                                    }       

                                } 
                                
                            </div>

                                                    <div>
                            @if (signInManager.IsSignedIn(User))
                            {

                                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                {
                                    <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-danger" asp-area="" asp-controller="Administration" asp-action="ReportedComments">ReportedComments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-danger" asp-area="" asp-controller="Administration" asp-action="ReportedReviews">ReportedReviews</a>
                                    </li>
                                    </ul>
                                }
                            }

                        </div>

                            <div>
                                <ul class="navbar-nav flex-grow-1"> 
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Böcker</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">Författare</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="Index">Recensioner</a>
                                </li>
                                </ul>
                            </div>

                    </div>
                        <div class="d-flex flex-column justify-content-end text-center ">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">    
                                <h1 style="color: #FFB7C5;" class="display-4 fw-bolder m-0 p-0">CoolBooks</h1>                                
                                <h3 class="fw-lighter m-0 p-0 fst-italic">Så många böcker. Så lite tid...</h3>
                            </a>
                        </div>
                        
                        
                        <div class="d-flex flex-column-reverse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                <form name="sok" class="sok-form" asp-controller="Books" asp-action="Index" accept-charset="UTF-8" method="get">
                                <input type="text" placeholder="Sök efter en bok." class="sok-fält" name="searchString" />
                                <button type="submit" class="sok-knapp">
                                    <img src="~/images/search.png"/>
                                </button>
                            </form>
                                </li>
                            <li class="nav-item">
                                <partial name="_LoginPartial" />
                            </li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CoolBooks - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
