html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

karusellknapp {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #000000;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}
.sok-form {
    display: flex;
    flex-direction: row;
    height: 40px;
}
.sok-container {
    margin: 200px auto;
    width: 500px;
    height: 60px
}
.sokfält {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}
.sok-knapp {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px; 
}
.sok-knapp img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
nav-item-right {
    flex-direction:column-reverse;
}
.blue-color {
    color: blue;
}


/*
__________         __  .__                           __                       
\______   \_____ _/  |_|__| ____    ____     _______/  |______ _______  ______
 |       _/\__  \\   __\  |/    \  / ___\   /  ___/\   __\__  \\_  __ \/  ___/
 |    |   \ / __ \|  | |  |   |  \/ /_/  >  \___ \  |  |  / __ \|  | \/\___ \ 
 |____|_  /(____  /__| |__|___|  /\___  /  /____  > |__| (____  /__|  /____  >
        \/      \/             \//_____/        \/            \/           \/ 

*/                                                        
                 

.rating {
    float: left;
    border: none;
}
.rating:not(:checked) > input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position: relative;
}