@model List<Genre>


<h1>Borttagna Bok-Genres</h1>


<partial name="_AdminMenu" />

<table class="table">
    <thead>
        <tr>
            <th>
                Kommentar                
            </th>
            <th>
                Uppdaterad av                
            </th>
            <th>
                Senast uppdaterad
            </th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.Name</p>
            </td>
            <td>
               <p>@item.CoolBooksUser.UserName</p> 
            </td>
            <td>
                @item.LastUpdated       
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Genres" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>